<p>
  <strong>Nome:</strong>
  <%= @release.name %>
</p>

<p>
  <strong>Versão:</strong>
  <%= @release.version %>
</p>

<p>
  <strong>Código:</strong>
  <%= @release.code %>
</p>

<p>
  <%= link_to 'Voltar', releases_path %>
</p>
